src/main/mule/myfirstgithttp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="453c9cf5-3d5a-4356-b6ab-9551b40a6614" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="myfirstgithttpFlow" doc:id="94454d1c-3a8a-4171-a4a3-e9330b56d386" >
		<http:listener doc:name="Listener" doc:id="78e99deb-024c-4b39-a91b-1fadf9793b31" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="9d00d08a-3d85-462d-94b4-a47bf083506f" message="#['http listener received message']"/>
	</flow>
</mule>
